form {
  margin-top: 0.75em;
}

label {
  color: grey;
  font-size: 0.75em;
}

.applyBtn {
  border: 1px solid black;
  text-decoration: none;
  padding: 0.2em 0.2em;
  margin-left: 1em;
  border-radius: 25px / 17px;
  width: 30%;
}

.applyBtn:hover {
  background-color: lightgreen;
  color: white;
  font-weight: bold;
}

input {
  outline: none;
  width: 40%;
}
